

@tailwind base;
@tailwind components;
@tailwind utilities;

.metrics li{
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    padding: 2em;
}
#profile li{
    --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    padding: 2em;
}
#profile{
    padding-top: 0.75em;
}

@media (max-width: 676px){
    .f{
        flex-direction: column;
    }
    .w{
        width: 100%;
    }
    .fr{
        flex-direction: column;
    }
    .t img{
        height: 32px;
        width: 32px;
    }
    .m{
        flex-direction: column;
    }
}
@media (min-width: 677px){
    .f{
        flex-direction: row;
    }
    .w{
        width: 33%;
    }
    .fr{
        flex-direction: column;
    }
    .t img{
        height: 32px;
        width: 32px;
    }
    
    .m{
        flex-direction: row;
    }

}
@media (min-width: 900px){
    .w{
        width: 25%;
    }
    .fr{
        flex-direction: column;
    }
    .t img{
        height: 32px;
        width: 32px;
    }
   
    
}
@media (min-width: 1200px){
    .fr{
        flex-direction: row;
    }
}